div.about {
    color: white;
    background-image: url("../components/imgs/wallpaper1.jpg");
}
div h1{
    
    background-image: url("../components/imgs/wallpaper1.jpg");
}
div h2 {
    background-image: url("../components/imgs/wallpaper1.jpg");
    
}


